<div class="row">
    <div class="col">
        <qr-code value="{{data | json}}" size="800" errorCorrectionLevel="M"></qr-code>"
    </div>
    <div class="col">
        <br><br><br><br><br>
        <h1>Escanea el código de la clase<br>para quedar presente</h1><br><br><br><br>
        <h3>O ingresa manualmente los siguientes datos:</h3><br><br>
        <h4>URL: {{data.s1}} {{data.s2}} {{data.s3}} {{data.s4}}<br>Fecha numérica: {{data.fecha}}<br>Asignatura: {{data.asignatura}}</h4>
    </div>
</div>
