<div class="row">
    <div class="col">
        <qr-code value="{{data | json}}" size="800" errorCorrectionLevel="M"></qr-code>"
    </div>
    <div class="col">
        <br><br><br><br><br>
        <h1>Escanea el código de la clase<br>para quedar presente</h1><br><br><br><br>
        <h3>O ingresa manualmente los siguientes datos:</h3><br><br>
        <h4>Fecha numérica: {{data.fecha}}<br>Asignatura: {{data.asignatura}}</h4><br><br>
        <h2><button type="button" (click)="atacar()" style="background-color: red; color: white; border-radius: 10px;">Cerrar asistencia</button></h2>
    </div>
</div>
